<% extend('layout') %>

<!-- Start Main Banner Area -->
<div class="main-banner item-bg-two inner-banner">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2>Meet MpaMpe</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="about-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="section-title">
          <span>TARGET</span>
          <h2>COMMUNITY</h2>
        </div>
        <div class="about-text">
          <p>
            Our main target is to bridge the gap between the donors and the
            campaign owners  by providing a platform which will
            allow for fundraising and making of campaigns aimed at supporting
            those who need the help.
          </p>
          <blockquote>
            "MpaMpe is targeting the communities in Uganda that carryout fundraising activities such as 
            churches,marathons,NGos and individuals 
            to provide a quick ,cost effective and easy way to  raise and manage  their fundraising activities"
          </blockquote>
          <div class="quoter">
            <h3>Emmilly Namuganga</h3>
            <span>Tech Lead</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/Emilly.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/mari.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>Our Approach</h2>
          <p>
            MpaMpe aims to provide a fast way to raise funds with no upfront
            fees. We also aim at providing donors/sponsors with a way to track
            their progress incase of any donations made. While on the platform,
            details about the various categories of campaigns that require
            funding/donating will be exposed, this will enable our donors be in
            position to decide on which campaign to support.
          </p>
          <div class="quoter">
            <h3>Balunga Mariam</h3>
            <span>CEO</span>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="about-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="section-title">
          
          
        </div>
        <div class="about-text">
          <div class="details">
            <h2>Our Core Values</h2>
            <p>
              As MpaMpe, we believe we need to be able to stand and uphold the virtues
              that define what we do; Our solution is well suited, rich and a modern one. 
              The following are our values;
              <br>
              <br>
              <b>
              ...... GENEROSITY ...... LOVE......SELFLESS..... ACCOUNTABILITY .... EXCELLENCE .... 
              SOCIAL IMPACT ..... TRANSPARENCY .... TRUSTWORTHY ....FLEXIBILITY .... 
              .....
              </b>
            </p>
          </div>
          
          <div class="quoter">
            <h3>Paul JEREMIAH</h3>
            <span>CTO</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/paul.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/ang.jpeg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>MISSION</h2>
          <p>
            To create a platform specifically tailored to help individuals or
            Organisations outsource funds for their businesses, ideas and needs
            through using and adopting technology to strategically support their
            efforts.
          </p>
        </div>
        <div class="details">
          <h2>VISION</h2>
          <p>
            To have more people leverage online platforms strategically to
            support their ideas, needs and explore economic opportunities.
          </p>
          <div class="quoter">
            <h3>Bukirwa Angella</h3>
            <span>Product Manager</span>
          </div>
        </div>

       
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/roni.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>OUR AIM</h2>
          <p>
            Many charities,individuals as well as organisations are struggling
            to collect funds in a world where almost everyone is online. MpaMpe
            aims to help individuals,charities as well as organisations to
            overcome the challenges by embracing digital technologies bringing
            them up to speed with the modern world.
          </p>
          <div class="quoter">
            <h3>Ronnie ATUHAIRE</h3>
            <span>CFO</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
